body{
    text-align: center;
    background-color: #00425A;
    margin: 0;
}
hr{
    width: 1%;
    border-style: dotted;
    border-width: 5px;
    border-bottom: 0;
    color: #ECECEC;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr:hover{
    color: grey;
}
h1{
    font-family: 'Amiri', serif;
    color: #8DCBE6;
}
h2{
    font-family: 'Great Vibes', cursive;
    color: #8DCBE6;
}
h3{
    font-family: 'Oleo Script', cursive;
}
p{
    font-family: 'Oleo Script', cursive;
}
p:hover{
    color: white;
}

.top{
    position: relative;
}
.tpc{
    height: 300px;
    width: 350px;
}
.tppc{
    height: 250px;
}
.topr{
    height: 250px;
    width: 300px;
}
.topvv{
    height: 300px;
    width: 300px;
}
.toprf{
    height: 250px;
    width: 200px;
}
.toprr{
    display: inline-block;
    position: absolute;
    left: 0.63rem;
    top: 3.1rem;
    }
.toprrr{
    margin-bottom: 3rem;
    width: 200px;
    display: block;
    margin-left: 34.4rem;
}
.toprrrr{
    position: absolute;
    right: 5rem;
    top: 2.8rem;
}
.test{
    margin-left: 10px;
    text-align: left;
}
.mid{
    padding-bottom: 100px;
    position: relative;
}
.nrd{
    height: 250px;
    display: inline-block;
    position: absolute;
    left: 13rem;
    bottom: 3.1rem;
}
.nrdd{
    display: inline-block;
    height: 200px;
    position: absolute;
    left: 38rem;
    bottom: 3.1rem;
}
.nrddd{
    height: 270px;
    width: 150px;
    position: absolute;
    right: 13rem;
    bottom: 3.1rem;
}
.nr{
    margin-top: 20px;
    margin-bottom: 120px;
}
.bot{
    line-height: 2;
    background-color: #144272;
    padding-bottom: 1.9rem;
    padding-top: 1rem;
    margin:50px auto 0 auto;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3ccffc;
    background-image: -webkit-linear-gradient(top, #3ccffc, #34d9bd);
    background-image: -moz-linear-gradient(top, #3ccffc, #34d9bd);
    background-image: -ms-linear-gradient(top, #3ccffc, #34d9bd);
    background-image: -o-linear-gradient(top, #3ccffc, #34d9bd);
    background-image: linear-gradient(to bottom, #3ccffc, #34d9bd);
    text-decoration: none;
  }
  .lst{
    color: #181D31;
  }